.middle{background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    position: relative;
  }

.img img{
z-index: 1;
width: 50%;
height: 450px;
}

.blank{

text-align: center;
width:50%;
height: 450px;
background-color: #faf9ff;
z-index: 0;
}


.blank h1{
/* font-familyImpact fantasy; */
font-weight: bold;
text-align: center;
margin-top: 180px;
}
.blank h4{

font-family: Times, Times New Roman, serif;
}

.button4{
float: left;
border: none;
background-color:rgb(138, 170, 197);
font-size: 17px;
font-family:Arial;
border-radius: 6px;
border-width: 0px;
border-style: solid;
padding: 12px 16px;
margin-left: 150px;
margin: justify;
}
.button4 a{
  text-decoration: none;
}
